<div class="row">
    <div class="col-sm-offset-1">
        <div id="map-canvas" data-point="<%= @answer %>" ></div>
    </div>
</div>
<div class="store one" data-storage=""></div>
<div class="store two" data-storage=""></div>
<div class="store three" data-storage=""></div>
<div class="store four" data-storage=""></div>
<div class="store five" data-storage=""></div>