<h1>Map#getheatpoints</h1>
<p>Find me in app/views/map/getheatpoints.html.erb</p>
<div class="row">
    <div class="col-sm-offset-1">
        <div id="map-canvas" data-point="<%= @answer %>" ></div>
    </div>
</div>