<h1>Map#getheatpoints</h1>
<p>Find me in app/views/map/getheatpoints.html.erb</p>
<div class="row">
    <div class="col-sm-offset-1 store" data-storage="">
        <div id="map-canvas" data-point="<%= @answer %>" ></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="calculate" class="btn btn-primary">Load</div>
        <div id="play" class="btn btn-primary" style="display:none">Play</div>
    </div>
</div>
